<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTRO</title>
    <link rel="stylesheet" href="animation.css">

</head>
<body>
    <div class="intro">
        <img src="logo.png" alt="Mande logo">
        <h1 class="logo">
            <span class="logo-parts">M</span>
            <span class="logo-parts">A</span>
            <span class="logo-parts">N</span>
            <span class="logo-parts">D</span>
            <span class="logo-parts">E</span>
        </h1>
        <P>SERVICES AND SOLUTIONS</P>
    </div>
    <div>
        <meta http-equiv="refresh" content="2;/MandeApp" />   
    </div>
    <script src="animation.js"></script>
</body>
</html>