<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="estilos.CSS">

    <title>MandeApp</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 ">MANDE</span>
            </div>
        </nav>
    </div>

    <div class="FindSpecialistText">
        <FONT SIZE="6">FIND A SPECIALIST</FONT>
    </div>

    <div class="RoolContainer">
        <div class="Rool">
            <select class="form-select" aria-label="Default select example">

                <option selected value="0">NONE</option>

                <option value="1">Plumber</option>

                <option value="2">Carpenter</option>

                <option value="3">Locksmith</option>

                <option value="4">Stroller</option>

                <option value="5">Cleaner</option>

                <option value="6">Teacher</option>



            </select>
        </div>
    </div>


    <div class="DescriptionContainer">
        <div class="JobDescription">
            <FONT SIZE = "2">ADD DESCRIPTION</FONT>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" ></textarea>
            </div>
        </div>

    </div>

    <div class="NextButtonContainer">

        <button type="button" class="btn btn-dark"
            style="--bs-btn-padding-y: 0.75rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem;">
            Next
        </button>

    </div>


</body>

</html>