<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="estilos.CSS">

    <title>SING_UP</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 ">MANDE</span>
            </div>
        </nav>
    </div>

    <div class="separador">

    </div>

    <div class="titulo">
        <FONT SIZE=5>SING_UP (CLIENT)</FONT>
    </div>


    <div class="container text-left">
        <div class="row py-5">

            <ul>
                <% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %> 
                    <li><%= error.message %></li>
                <% }) %> <% } %>
            </ul>

            <div class="col">
                <div class="mb-3 row">
                    <div class="col">
                    <form method="POST" enctype="multipart/form-data">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input name="inputName" type="text" class="form-control" id="inputName">
                        </div>

                    </div>
                </div>


                <!--2-->

                <div class="mb-3 row">
                    <div class="col">

                        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input name="inputLastName" type="text" class="form-control" id="inputLastName">
                        </div>

                    </div>

                </div>

                <!--3-->


                <div class="mb-3 row">
                    <div class="col">

                        <label for="inputIdentification" class="col-sm-2 col-form-label">Identification</label>
                        <div class="col-sm-10">
                            <input name="inputIdentification" type="text" class="form-control" id="inputIdentification">
                        </div>

                    </div>

                </div>


                <!--4-->


                <div class="mb-3 row">
                    <div class="col">

                        <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input name="inputAddress" type="text" class="form-control" id="inputAddress">
                        </div>

                    </div>

                </div>

                <!--5-->


                <div class="mb-3 row">
                    <div class="col">

                        <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input name="inputPhoneNumber" type="text" class="form-control" id="inputPhone">
                        </div>

                    </div>

                </div>

                <!--6-->


                <div class="mb-3 row">
                    <div class="col">

                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input name="inputEmail" type="text" class="form-control" id="inputEmail">
                        </div>

                    </div>

                </div>


                <!--7-->


                <div class="mb-3 row">
                    <div class="col">

                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input name="inputPassword" type="password" class="form-control" id="inputPassword">
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-5">

                <div class="Avatar">
                    <img src="avatar.jpg" alt="">
                    <input name ='inputPhoto' type = 'file'>
                </div>

            </div>

        </div>

        <div class="metodoDePago">
            <FONT SIZE="5">PAYMENT METHOD</FONT>
        </div>

        <div class="row py-5">

            <div class="col">

                <div class="mb-3 row">

                    <div class="col">

                        <label for="inputPassword" class="col-sm-2 col-form-label">Type Card</label>
                        <select name = "formSelect" class="form-select" aria-label="Default select example">

                            <option selected value="0">NONE</option>

                            <option value="1">Debit</option>

                            <option value="2">Credit</option>

                        </select>

                    </div>

                </div>

                <div class="mb-3 row">

                    <div class="col">

                        <label for="inputPassword" class="col-sm-2 col-form-label">Card Number</label>

                        <input name="inputCardNumber" type="text" class="form-control" id="inputCardNumber">


                    </div>

                </div>

                <div class="mb-3 row">

                    <div class="col">

                        <label for="inputPassword" class="col-sm-3 col-form-label">Expiration Date</label>

                        <div class="inputExpiratonDate">
                            <input name="inputExpiratonDate" type="date" class="form-control" id="inputExperationDate">

                        </div>


                    </div>

                </div>

                <div class="mb-3 row">

                    <div class="col">

                        <label for="inputPassword" class="col-sm-2 col-form-label">CVV</label>

                        <div class="inputCVV">
                            <input name="inputCVV" type="password" class="form-control" id="inputCVV">
                        </div>
                        


                    </div>

                </div>


            </div>



            <div class="col">

            </div>


        </div>

        <div class="BotonReady">
            <button type="submit" class="btn btn-dark"
                style="--bs-btn-padding-y: 0.70rem; --bs-btn-padding-x: 0.72rem; --bs-btn-font-size: 2rem; height: 8%;">
                Ready
            </button>
        </div>

        </form>
        <div class="Final">

        </div>

    </div>

</body>

</html>