body {
    background-color: #373737;
    height: 550px;
    align-items: center;
}

nav {
  text-align: center;
}


div.titulo {
  text-align: center;
  height: 8vw;
}


div.metodoDePago {
  text-align: center;
  height: 8vw;
}



div.separador{
  height: 15%;
}

div.botonDeLogin{
  display: flex;
  flex-direction: column-reverse;

}

div.botonCredito{
  align-items: center;
  text-align: left;
}

div.botonDebito{
  align-items: center;
  text-align: right;
}

div.SeparadorAvatar{
  height: 10vw;
}

span.navbar-brand {
    color: #ffa500;
    text-align: center;
    width: 100%;
}

div.Avatar{

  display: flex;
  flex-direction: row-reverse; 
 
}

div.Recibo{
  display: flex;

}


div.Rool{
  width: 30vw ;
}

div.RoolContainer{
  padding-top: 1cm;
  display: flex;
  justify-content: center;
}




div.NextButtonContainer{
  padding-top: 3cm;
  display: flex;
  justify-content: center;
}



div.FindSpecialistText{
  padding-top: 2cm;
  display: flex;
  justify-content: center;
}



img{
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  object-fit: cover;  
}

FONT {
  color: azure;
}

label{
  color: azure;
}

